.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-dark);   direction: rtl;   padding: 20px;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background-light);
  border: 2px solid var(--color-white) !important;   box-shadow: 0 0 25px rgba(255, 255, 255, 1)   
    }

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px; }

mat-form-field {
  width: 100%;
  direction: rtl;   text-align: right; }

.overall-error {
  color: var(--error-color);   margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.switch-form-link {
  color: var((--color-blue));   text-decoration: none;   font-weight: 500;   text-align: center;   display: block;   margin: 10px auto 0 auto;   transition: color 0.3s ease-in-out; 
  &:hover {
    color: var(--secondary-color);     text-decoration: underline;   }
}
