<div class="center-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{ pageTitle() }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
        <mat-form-field>
          <mat-label>שם</mat-label>
          <input matInput formControlName="name" placeholder="הכנס את שמך">
          @if (registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')) {
            <mat-error>
              שדה השם הוא חובה.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>אימייל</mat-label>
          <input matInput type="email" formControlName="email" placeholder="הכנס את האימייל שלך">
          @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')) {
            <mat-error>
              שדה האימייל הוא חובה.
            </mat-error>
          }
          @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')) {
            <mat-error>
              פורמט האימייל אינו תקין.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>סיסמה</mat-label>
          <input matInput type="password" formControlName="password" placeholder="הכנס את הסיסמה שלך">
          @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
            <mat-error>
              שדה הסיסמה הוא חובה.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>תפקיד</mat-label>
          <mat-select formControlName="role" placeholder="בחר תפקיד">
            <mat-option value="" disabled selected>בחר תפקיד</mat-option>
            <mat-option value="student">תלמיד</mat-option>
            <mat-option value="teacher">מורה</mat-option>
          </mat-select>
          @if (registerForm.get('role')?.touched && registerForm.get('role')?.hasError('required')) {
            <mat-error>
              שדה התפקיד הוא חובה.
            </mat-error>
          }
        </mat-form-field>

        @if (!isEditMode()) {
          <a mat-button color="accent" [routerLink]="['/login']" class="switch-form-link">כבר יש לך חשבון?</a>
        }
        
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid || isSubmitting()">
          @if (isSubmitting()) {
            <span>{{ isEditMode() ? 'שומר שינויים...' : 'נרשם...' }}</span>
          } @else {
            {{ submitButtonText() }}
          }
        </button>

        @if (errorMessage()) {
          <div class="overall-error">
            {{ errorMessage() }}
          </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
</div>