.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-dark);
  direction: rtl;
  padding: 20px;
}

.login-card {   max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--background-light);   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form {   display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
  direction: rtl;
  text-align: right;
}

.overall-error {
  color: var(--error-color);   margin-top: 10px;
  text-align: center;
}