<app-header [title]="'רשימת קורסים'"></app-header>

<div class="courses-page-wrapper">
  
  @if (isLoading()) {
    <div class="loading-spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>טוען קורסים...</p>
    </div>
  } @else if (errorMessage()) {
    <div class="error-message">
      <mat-icon>error_outline</mat-icon>
      <span>{{ errorMessage() }}</span>
    </div>
  } @else {
    <div class="courses-content">
      <div class="courses-grid">
        @for (course of courses(); track course.id) {
          <mat-card class="course-card">

              <mat-card-title>{{ course.title }}</mat-card-title>
              <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
            <mat-card-actions class="card-actions-bottom">
              <button mat-button color="accent" (click)="viewCourseDetails(course.id)">
               <h4>לרשימת השיעורים</h4>
              </button>

              @if (authService.currentUserRole() === 'teacher' && authService.currentUserId() === course.teacherId) {
                <button mat-button color="primary" (click)="editCourse(course.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" (click)="deleteCourse(course.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </mat-card-actions>
          </mat-card>
        } @empty {
          <p class="no-courses-message">אין קורסים זמינים כרגע.</p>
        }
      </div>
      
      @if (authService.currentUserRole() === 'teacher') {
        <button mat-raised-button color="primary" (click)="createNewCourse()" class="create-course-btn">
          <mat-icon>add</mat-icon> צור קורס חדש
        </button>
      }
    </div>
  }
</div>