@use "sass:color";
@use '@angular/material' as mat;

.header {
  height: 15vh;
  background-color: var(--color-blue);
  color: var(--text-on-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  direction: rtl;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .header-image {
    height: 10vh;
    object-fit: contain;
  }
}

.header-center-title {
  display: flex;
  align-items: center;

  .site-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-white);
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-black);
  border: 2px solid var(--color-white);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }

  .user-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.login-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  }
}

.register-button {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
