/* src/app/home/home.component.scss */

.home-container {
  display: flex;
  height: 100vh;
  direction: rtl;
  // position: relative; // כבר לא נחוץ כאן עבור הכפתור
}

.image-side {
  width: 66%;
  // position: relative; // כבר לא נחוץ כאן עבור הכפתור
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-side {
  background-color: var(--primary-blue);
  color: var(--text-color-light);
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative; // <--- חשוב מאוד: הופך את ה-text-side להורה ממוקם
}

.welcome-text {
  font-size: 2em;
  margin-bottom: 20px;
}

.small-image {
  width: 5cm;
  height: 3cm;
  margin-top: 20px;
}

/* עיצוב לכפתור Material שממוקם אבסולוטית בתוך ה-text-side */
.home-login-button { // משתמשים בקלאס החדש שנתנו לכפתור
  position: absolute;
  top: 20px;
  left: 20px; // מיקום בפינה השמאלית העליונה של ה-text-side
  z-index: 10; // ודא שהוא מעל אלמנטים אחרים ב-text-side
}